<div>
    <nav class="nav nav-tabs flex-column flex-sm-row">

        <a class="flex-sm-fill text-sm-center nav-item bouton-navBar active" data-bs-toggle="tab"
            data-bs-target="#nav-add" type="button" role="tab" aria-controls="nav-add"
            aria-selected="true">Add</a>

        <a class="flex-sm-fill text-sm-center nav-item bouton-navBar" data-bs-toggle="tab" data-bs-target="#nav-edit"
            type="button" role="tab" aria-controls="nav-edit" aria-selected="false">Edit</a>

            <a class="flex-sm-fill text-sm-center nav-item bouton-navBar" data-bs-toggle="tab" data-bs-target="#nav-delete"
            type="button" role="tab" aria-controls="nav-delete" aria-selected="false">Delete</a>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade" id="nav-add" role="tabpanel" aria-labelledby="nav-add-tab">
            <div class="tab-pane fade show active" id="nav-add" role="tabpanel" aria-labelledby="nav-add-tab">
                <ul class="list-group">
                    <AddItem></AddItem>
                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-edit" role="tabpanel" aria-labelledby="nav-edit-tab">
            <div class="tab-pane fade show" id="nav-edit" role="tabpanel" aria-labelledby="nav-edit-tab">
                <ul class="list-group">
                    b
                </ul>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-delete" role="tabpanel" aria-labelledby="nav-delete-tab">
            <div class="tab-pane fade show" id="nav-delete" role="tabpanel" aria-labelledby="nav-delete-tab">
                <ul class="list-group">
                    c
                </ul>
            </div>
        </div>
    </div>
</div>