<div class="container">
    <div class="row">
        <div class="col-sm d-flex justify-content-left">
            <img class="logo  " src="../../assets/vin.png" alt="">
        </div>
        <div class="col-sm d-flex justify-content-left">
            <button type="button" class="btn btn-transparent" v-on:click="test(test1)">Accueil</button>
            <button type="button" class="btn btn-transparent">Catalogue</button>
            <button type="button" class="btn btn-transparent">A propos</button>
            <button type="button" class="btn btn-transparent">Où nous trouver</button>
        </div>
        <div class="col-sm header-left d-flex justify-content-right">
            <div style=" display: grid; margin-left: auto;">
                <img class="logoBuy" src="../../assets/Buy-Icon.png" alt="">
                <button type="button" class="btn btn-transparent">Acheter</button>

            </div>

        </div>
    </div>
</div>