<div class="container">
    <div class="row">
        <div class="col-sm d-flex justify-content-left">
            <img class="logo  " src="../../assets/vin.png" alt="">
        </div>
        <div class="col-sm d-flex justify-content-left">
            <button type="button" class="btn btn-transparent" v-on:click="ChangeMenu('Main')">Accueil</button>
            <button type="button" class="btn btn-transparent" v-on:click="ChangeMenu('Catalogue')">Catalogue</button>
            <button type="button" class="btn btn-transparent" v-on:click="ChangeMenu('About')">A propos</button>
            <button type="button" class="btn btn-transparent" v-on:click="ChangeMenu('FindUs')">Où nous trouver</button>
        </div>
        <div class="col-sm header-left d-flex justify-content-right">
            <div style=" display: grid; margin-left: auto;">
                <i class="fa-solid fa-cart-shopping"></i>
                <button type="button" class="btn btn-transparent">Acheter</button>
            </div>

        </div>
        <button type="button" class="btn btn-transparent" v-on:click="ChangeMenu('Login')" v-if="this.store.state.User == null">Connection</button>
    </div>
</div>